body {
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

button {
    margin-top: 20px;
    padding: 10px 15px;
    width: 100%;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: rgb(47, 89, 194);
}

.answer-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background: #eee;
    cursor: pointer;
}

.correct {
    background: #4caf50;
    color: white;
}

.wrong {
    background: #f44336;
    color: white;
}

.hidden {
    display: none;
}
